html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
	font-family: Trebuchet MS,"Helvetica Neue",Helvetica,sans-serif;
}

 body {
  }

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }
 
  #main > article {
   margin: 4px;
   padding: 5px;
   /*border: 1px solid #cccc33;
   border-radius: 7pt;
   background: #dddd88;*/
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }
  
  #main > nav {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 10%;
           flex: 1 6 10%;
   -webkit-order: 1;
           order: 1;
   }
  
  #main > aside {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   --border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 30%;
           flex: 1 6 30%;
   -webkit-order: 3;
           order: 3;
   }
 
  header, footer {
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 35px;
   border: 1px solid #242729;
   border-radius: 7pt;
   background: #ffeebb;
   }
 
  /* Too narrow to support three columns */
  @media all and (max-width: 640px) {
  
   #main, #page {
    -webkit-flex-flow: column;
            flex-direction: column;
   }

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #main > nav, #main > aside, header, footer {
    min-height: 35px;
    max-height: 35px;
   }
  }


.logo {
	width:35px;
	height:35px;
}

.headertext, .footer{
  position: relative;
  bottom: 10px;
  padding:10px;
}

.highlight {
    background-color: rgba(0, 255, 0, .4) !important;
    font-weight: bold;
}

.possibleMove {
    background-color: rgba(255, 255, 0, .4) !important;
    font-weight: bold;
}

.possibleAttack {
    background-color: rgba(255, 0, 0, .4) !important;
    font-weight: bold;
}

.jsMate-button {
  width: 95% !important;
  text-align: left;
  display: inline-block;
  padding: 6px 12px !important;
  margin: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.jsMate-secondary-button {
  background-color: #777;
  border-color: #666;
}

#status {
  max-height: 400px;
  overflow-y: auto;
  font-size: 12px;
  line-height: 1.4;
}
